*

!*/

!**/*.vwf
!**/*.gdf
!**/*.scf
!**/*.vhd
!**/*.md
!**/*.bdf
!**/*.v
!**/*.pdf
!**/*.cpp
!**/*.go
!**/*.c
!**/*.h
!**/*.hpp
!**/*.do
!**/*.V
!**/*.md
!**/*.sv
!**/*.txt
!**/*.qpf
!**/*.sym


!.gitignore
/sem4/sc2v
